*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
body{
    background-image: url(./assets/overlay.png), url(./assets/brina-blum-Bb_X4JgSqIM-unsplash.jpg) ;
    /* background-color: blue; */
    background-repeat: no-repeat;
    background-size: cover;
    
}
